---
layout: default
---
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url={{ "/assets/pdf/BoseungJeong_CV_.kim_cv.pdf" | relative_url }}">
  </head>
  <body>
    <p>Redirecting to CV PDF...</p>
  </body>
</html>